{% extends 'base-todo.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container bg-light shadow-md p-5 form-layout-add">
    <h5>Dodaj zadanie</h5>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.description|as_crispy_field }}<br>
        {{ form.due_date|as_crispy_field }}<br>
        {{ form.status|as_crispy_field }}<br>
        {{ form.photo|as_crispy_field }}
        <br>
        <a class="btn btn-outline-primary"  href="{% url 'home' %}">Powrot <i
            class="fa fa-arrow-left"
            aria-hidden="true"></i> </a>
    <button class="btn btn-outline-primary" type="submit">Dodaj <i
            class="fa fa-plus"
            aria-hidden="true"></i></button>
    </form>
    </div>
{% endblock %}
