{% extends 'base-task.html' %}
{% block content %}
    <h5> Witaj, {{ user.first_name }} {{ user.last_name }}! 👋 </h5>
    <hr>
         {% if request.user.username == 'golataa' %}
        <a class="btn btn-outline-primary"  href="{% url 'add_task' %}">Dodaj <i
            class="fa fa-plus"
            aria-hidden="true"></i> </a>
    {% endif %}
    <hr>

        <table class="table  table-bordered" id="sample_data">
            <thead class="table-light">
            <tr>
                <th scope="col"> ID</th>
                <th scope="col"> Pracownik</th>
                <th scope="col"> Data utworzenia</th>
                <th scope="col"> Termin</th>
                <th scope="col"> Status</th>
                <th scope="col"> Szczegóły</th>
            </tr>
            </thead>
            <tbody>
            {% if tasks %}
                {% for record in tasks %}
                    <tr>
                        <td> {{ record.id }} </td>
                        <td> {{ user.first_name }} {{ user.last_name }} </td>
                        <td> {{ record.added_date }}</td>
                        <td> {{ record.due_date }} </td>
                        <td> {{ record.status }} </td>
                        <td><a class="btn btn-outline-primary btn-sm" href="{% url 'task_detail' record.id%}">
                            <i class="fa fa-eye" aria-hidden="true"></i> </a></td>
                    </tr>
                {% endfor %}
            {% endif %}

            </tbody>
        </table>
        <br><br>
    <hr>

    {#    <nav aria-label="Page navigation example">#}
    {#        <ul class="pagination">#}
    {#            {% if my_record.has_previous %}#}
    {#                <li class="page-item"><a class="page-link"#}
    {#                                         href="?page={{ my_record.previous_page_number }}">Poprzednia</a></li>#}
    {#            {% endif %}#}
    {#            {% if my_record.has_next %}#}
    {#                <li class="page-item"><a class="page-link" href="?page={{ my_record.next_page_number }}">Następna</a>#}
    {#                </li>#}
    {#            {% endif %}#}
    {#        </ul>#}
    {#    </nav>#}
    {{ redirect_to_login_immediately }}
{% endblock %}
