{% extends 'base-sms.html' %}
{% block content %}
    <h5> Witaj, {{ user.first_name }} {{ user.last_name }}! 👋 </h5>
    <hr>
    Filtr:
    <a class="btn btn-outline-primary" href="{% url 'dashboard-sms-kontrahent' %}">Kontrahent &nbsp;<i
            class="fa fa-filter"
            aria-hidden="true"></i> </a>
    <a class="btn btn-outline-primary" href="{% url 'dashboard-sms-blok' %}">Blok&nbsp;<i
            class="fa fa-filter"
            aria-hidden="true"></i> </a>&nbsp;&nbsp;
    <a class="btn btn-outline-primary" href="{% url 'dashboard-sms-lu' %}">Lokale użytkowe&nbsp;<i
            class="fa fa-filter"
            aria-hidden="true"></i> </a>&nbsp;&nbsp;
    <a class="btn btn-primary" href="{% url 'dashboard-szablony' %}">Szablony sms&nbsp;<i
            class="fa fa-filter"
            aria-hidden="true"></i> </a>&nbsp;&nbsp;
    <a class="btn btn-outline-primary" href="{% url 'sms-test' %}">SMS test&nbsp;<i
            class="fa fa-filter"
            aria-hidden="true"></i> </a>&nbsp;&nbsp;
    {#    <a class="btn btn-outline-primary" href="{% url 'dashboard-sms-lu' %}">Lokale użytkowe&nbsp;<i#}
    {#            class="fa fa-filter"#}
    {#            aria-hidden="true"></i> </a>&nbsp;&nbsp;#}
    <hr>
    <p align="justify">
    Awaria wodna<br>
    Informujemy, ze (x-data) w godzinach (x) zostanie zamkniety doplyw wody.
    <br><br>
    Awaria c.o.<br>
    Informujemy, ze (x-data) w godzinach (x) zostanie wyłaczone centralne ogrzewanie.
    <br><br>
    Awaria c.o. KPEC<br>
    Informujemy, ze przerwa w dostawie ciepla wynika z awarii sieci cieplowniczej KPEC.
    <br><br>
    Awaria wodna MWIK<br>
    Informujemy, ze przerwa w dostawie wody wynika z awarii sieci wodociagowej MWIK.
    <br><br>
    Brak prądu<br>
    W zwiazku z awaria zasilania (x-data), do godz. (x) mieszkancy pozbawieni beda pradu.
    <br><br>
    Planowane wyłączenie prądu ENEA<br>
    Informujemy, ze (x-data) w godzinach (x) nastapi planowane przez ENEA S.A. wylaczenie pradu.
    <br><br>
    Brak gazu<br>
    Informujemy, ze (x-data) Zaklad Gazowniczy zamknal doplyw gazu do mieszkan.
    <br><br>
    Przegląd gaz<br>
    Informujemy, ze (x-data) w godz. (x) odbedzie sie przeglad instalacji gazowej oraz przewodow kominowych.
    <br><br>
    Przegląd elektryka<br>
    Informujemy, ze (x-data) w godz. (x) odbedzie sie przeglad instalacji elektrycznej.
    <br><br>
    Remont<br>
    Informuje, ze od (x-data) rozpoczna sie prace remontowe (x).
    <br><br>
    Korespondencja<br>
    Informujemy, że od dzisiaj beda dostarczane do Panstwa skrzynek pocztowych i na adresy korespondencyjne, rozliczenie
    kosztow i karta oplat mieszkaniowych.
    <br><br>
    Przewonienie gazu<br>
    Informujemy, ze (x-data) PSG przeprowadzi akcje przewonienia gazu ziemnego. Prosimy o zglaszanie nieszczelnosci
    instalacji gazowej do Spoldzielni tel.52 3664400.
    <br><br>
    Opłaty mieszkaniowe<br>
    Przypominamy, ze 20 (miesiac) mija termin platnosci oplat mieszkaniowych.
    <br><br>
    Legalizacja<br>
    Informujemy, ze dd.mm-dd.mm br. w Panstwa budynku beda wymieniane wodomierze. Szczegoly w komunikacie na klatce oraz
    na stronie SMB.
    <br><br>
    Baterie<br>
    Informujemy, ze dd.mm-dd.mm br. w Panstwa budynku beda wymieniane baterie w podzielnikach. Szczegoly w komunikacie
    na klatce oraz na stronie SMB.


    {{ redirect_to_login_immediately }}
{% endblock %}
