{% extends 'base-sms.html' %}
{% block content %}
    <h5> Witaj, {{ user.first_name }} {{ user.last_name }}! 👋 </h5>
    <hr>
    Filtr:
    <a class="btn btn-outline-primary" href="{% url 'dashboard-sms-kontrahent' %}">Kontrahent &nbsp;<i
            class="fa fa-filter"
            aria-hidden="true"></i> </a>
    <a class="btn btn-outline-primary" href="{% url 'dashboard-sms-blok' %}">Blok&nbsp;<i
            class="fa fa-filter"
            aria-hidden="true"></i> </a>&nbsp;&nbsp;
{#    <a class="btn btn-outline-primary" href="{% url 'dashboard-sms-lu' %}">Lokale użytkowe&nbsp;<i#}
{#            class="fa fa-filter"#}
{#            aria-hidden="true"></i> </a>&nbsp;&nbsp;#}
{#    <a class="btn btn-outline-primary" href="{% url 'dashboard-szablony' %}">Szablony sms&nbsp;<i#}
{#            class="fa fa-filter"#}
{#            aria-hidden="true"></i> </a>&nbsp;&nbsp;#}
    <a class="btn btn-outline-primary" href="{% url 'sms-test' %}">SMS test&nbsp;<i
            class="fa fa-comment"
            aria-hidden="true"></i> </a>&nbsp;&nbsp;
    <a class="btn btn-outline-primary" href="{% url 'sms-ce-all' %}">SMS CE-ALL&nbsp;<i
            class="fa fa-comment"
            aria-hidden="true"></i> </a>&nbsp;&nbsp;
    <a class="btn btn-outline-primary" href="{% url 'sms-nw-all' %}">SMS NW-ALL&nbsp;<i
            class="fa fa-comment"
            aria-hidden="true"></i> </a>&nbsp;&nbsp;
    <a class="btn btn-outline-primary" href="{% url 'sms-ns-all' %}">SMS NS-ALL&nbsp;<i
            class="fa fa-comment"
            aria-hidden="true"></i> </a>&nbsp;&nbsp;
    <hr>
    <p align="justify">
        Wysyłanie SMS-ów to skuteczny sposób komunikacji, ale ważne jest, aby być odpowiedzialnym i przestrzegać zasad
        prywatności. Dlatego używanie filtrów jest kluczowe. Filtr „Kontrahent” pozwala nam wybrać tylko tych
        kontrahentów, którzy wyrazili zgodę na otrzymywanie SMS-ów. Dzięki temu możemy uniknąć niechcianych wiadomości i
        przestrzegać regulacji dotyczących ochrony danych osobowych.
    </p><p align="justify">
    Po wybraniu filtra „Kontrahent” pojawia się opcja szukania, co ułatwia znalezienie konkretnego kontrahenta na
    liście. To przydatne narzędzie, szczególnie gdy mamy dużą bazę danych kontrahentów i chcemy szybko dotrzeć do
    określonej osoby.
</p><p align="justify">
    Filtr „Blok” umożliwia wysyłanie SMS-ów do wybranego bloku mieszkalnego. Jest to przydatne, gdy chcemy przekazać
    ważne informacje wszystkim mieszkańcom danego bloku, na przykład o planowanych pracach remontowych czy zmianach w
    zarządzaniu nieruchomościami.
</p><p align="justify">
    Dzięki tym filtrom możemy skuteczniej zarządzać procesem wysyłania SMS-ów, zapewniając, że nasze wiadomości trafią
    tylko do odpowiednich odbiorców i będą zgodne z przepisami dotyczącymi ochrony danych osobowych. To ważne dla
    budowania zaufania i dobrego wizerunku firmy.
</p>

    {{ redirect_to_login_immediately }}
{% endblock %}
