{% extends 'base-sms-kontrahent.html' %}
{% block content %}
    <h5> Witaj, {{ user.first_name }} {{ user.last_name }}! 👋 </h5>
    <hr>
    Filtr:
    <a class="btn btn-primary" href="{% url 'dashboard-sms-kontrahent' %}">Kontrahent &nbsp;<i
            class="fa fa-filter"
            aria-hidden="true"></i> </a>
    <!-- Add other filter links here -->
    <hr>
    <form id="smsForm" method="POST" autocomplete="off">
        {% csrf_token %}
        <table class="table  table-bordered" id="sample_data">
            <thead class="table-light">
            <tr>
                <th scope="col"> ID</th>
                <th scope="col"> Indeks</th>
                <th scope="col"> Nazwa</th>
                <th scope="col"> Adres</th>
                <th scope="col"> Klatka</th>
                <th scope="col"> Telefon</th>
                <th scope="col"> Zaznacz</th>
                <th scope="col"> SMS</th>
            </tr>
            </thead>
            <tbody>
            {% if my_record %}
                {% for record in my_record %}
                    <tr>
                        <td> {{ record.id }} </td>
                        <td> {{ record.indeks }} </td>
                        <td> {{ record.nazwa }}</td>
                        <td> {{ record.adres }} </td>
                        <td> {{ record.klatka }} </td>
                        <td> {{ record.telefon }} </td>
                        <td><input type="checkbox" name="record_ids" value="{{ record.id }}" data-phone="{{ record.telefon }}"></td>
                        <td><a class="btn btn-outline-primary btn-sm" href="{% url 'sms-view' record.id %}">
                            <i class="fa fa-eye" aria-hidden="true"></i> </a></td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
        <div class="mb-3">
            <label for="phone" class="form-label">Telefon:</label>
            <input type="text" class="form-control" id="phone" name="phone" placeholder="" maxlength="9" autocomplete="off">
        </div>
    </form>
    <br>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if my_record.has_previous %}
                <a class="btn btn-outline-primary btn-sm"
                                         href="?page={{ my_record.previous_page_number }}">Poprzednia</a>
            {% endif %}
            {% if my_record.has_next %}
                <a class="btn btn-outline-primary btn-sm" href="?page={{ my_record.next_page_number }}">Następna</a>
            {% endif %}
        </ul>
    </nav>
    {{ redirect_to_login_immediately }}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('input[name="record_ids"]').change(function () {
                var selectedNumbers = [];
                $('input[name="record_ids"]:checked').each(function () {
                    // Get the phone number associated with the checked checkbox
                    var phone = $(this).data('phone');
                    if (phone) {
                        selectedNumbers.push(phone);
                    }
                });
                // Update the phone input field with the selected phone numbers separated by commas
                $('#phone').val(selectedNumbers.join(','));
            });
        });
    </script>
{% endblock %}
