{% extends 'base-sms-kontrahent.html' %}
{% block content %}
    <h5> Witaj, {{ user.first_name }} {{ user.last_name }}! 👋 </h5>
    <hr>
    Filtr:
    <a class="btn btn-primary" href="{% url 'dashboard-sms-kontrahent' %}">Kontrahent &nbsp;<i
            class="fa fa-filter"
            aria-hidden="true"></i> </a>
    <a class="btn btn-outline-primary" href="{% url 'dashboard-sms-blok' %}">Blok&nbsp;<i
            class="fa fa-filter"
            aria-hidden="true"></i> </a>&nbsp;&nbsp;
    <a class="btn btn-outline-primary" href="{% url 'dashboard-sms-lu' %}">Lokale użytkowe&nbsp;<i
            class="fa fa-filter"
            aria-hidden="true"></i> </a>&nbsp;&nbsp;
    <a class="btn btn-outline-primary" href="{% url 'dashboard-szablony' %}">Szablony sms&nbsp;<i
            class="fa fa-filter"
            aria-hidden="true"></i> </a>&nbsp;&nbsp;
    <a class="btn btn-outline-primary" href="{% url 'sms-test' %}">SMS test&nbsp;<i
            class="fa fa-filter"
            aria-hidden="true"></i> </a>&nbsp;&nbsp;
    <hr>
    <form id="smsForm" method="POST" autocomplete="off">
        <table class="table  table-bordered" id="sample_data">
            <thead class="table-light">
            <tr>
                <th scope="col"> ID</th>
                <th scope="col"> Indeks</th>
                <th scope="col"> Nazwa</th>
                <th scope="col"> Adres</th>
                <th scope="col"> Klatka</th>
                <th scope="col"> Telefon</th>
                <th scope="col"> Zaznacz</th>
                <th scope="col"> SMS</th>
            </tr>
            </thead>
            <tbody>
            {% if records %}
                {% for record in my_record %}
                    <tr>
                        <td> {{ record.id }} </td>
                        <td> {{ record.indeks }} </td>
                        <td> {{ record.nazwa }}</td>
                        <td> {{ record.adres }} </td>
                        <td> {{ record.klatka }} </td>
                        <td> {{ record.telefon }} </td>
                        <td><input type="checkbox" name="selected_records" value="{{ record.id }}"></td>
                        <td><a class="btn btn-outline-primary btn-sm" href="{% url 'sms-view' record.id %}">
                            <i class="fa fa-eye" aria-hidden="true"></i> </a></td>
                    </tr>
                {% endfor %}
            {% endif %}

            </tbody>
        </table>
    </form>
    <br>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if my_record.has_previous %}
                <a class="btn btn-outline-primary btn-sm"
                                         href="?page={{ my_record.previous_page_number }}">Poprzednia</a>
            {% endif %}
            {% if my_record.has_next %}
                <a class="btn btn-outline-primary btn-sm" href="?page={{ my_record.next_page_number }}">Następna</a>

            {% endif %}
        </ul>
    </nav>
    {{ redirect_to_login_immediately }}
{% endblock %}
