{% extends 'rss/../../rss/templates/base-rss.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <body>
    <div class="container bg-light shadow-md p-5 form-layout-add">
        <h3> Edytuj Kontrahenta </h3>
        <hr>
        <br>
        <form method="POST" autocomplete="off">
            {% csrf_token %}
            {{ form.nazwa|as_crispy_field }}
            <br>
            {{ form.klatka|as_crispy_field }}
            <br>
            {{ form.telefon|as_crispy_field }}
            <br>
            {{ form.zgoda|as_crispy_field }}
            <br>
            {{ my_record }}
            <a href="{% url 'view_rss' record.id %}" class="btn btn-outline-primary"> Powrót &nbsp;<i
                    class="fa fa-arrow-left"
                    aria-hidden="true"></i>
            </a>
            <button type="submit" class="btn btn-outline-primary">Zapisz</button>
            &nbsp;&nbsp;&nbsp;

        </form>
    </div>
    <br>
    </body>
{% endblock %}