{% extends 'base-todo.html' %}
{% block content %}
    <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-body">
                    <i class="fa fa-user-circle-o" aria-hidden="true"></i> &nbsp;
                    <strong>
                        Pracownik:&nbsp;&nbsp;&nbsp;{{ records_todo.employee|upper }}
                    </strong>
                    <hr>
                    <p><strong> ID: </strong> {{ records_todo.id }} </p>
                    <p><strong> Data utworzenia: </strong> {{ records_todo.date_added }} </p>
                    <p><strong> Administracja: </strong> {{ records_todo.administracja }} </p>
                    <p><strong> Termin wykonania: </strong> {{ records_todo.due_date }} </p>
                    <p><strong> Status: </strong><a class="btn btn-outline-primary"> {{ records_todo.status }}</a> </p>
                    <p><strong> Opis: </strong> {{ records_todo.description }} </p>
                    <hr>
                    <p><strong> Komentarz: </strong> {{ records_todo.comments }} </p>
                </div>
            </div>

        </div>

    <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-body">
                    <i class="fa fa-user-circle-o" aria-hidden="true"></i> &nbsp;
                    <strong>
                        Zadanie: {{ records_todo.description }}
                    </strong>
                    <hr>



                    <a href="{% url 'dashboard-todo-ce' %}" class="btn btn-outline-primary"> Powrót &nbsp; <i
            class="fa fa-arrow-left"></i> </a>
    <a href="{% url ''  %}" class="btn btn-outline-primary"> Komentarz &nbsp; <i
            class="fa fa-comment"></i> </a>
                    <a href="{% url ''  %}" class="btn btn-outline-primary"> Status &nbsp; <i
            class="fa fa-comment"></i> </a>
    {{ all_records_todo }}
                </div>
            </div>

        </div>
    <br>
    </div>
{% endblock %}

