
        <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="customFile" class="form-label">Wybierz plik</label>
                        <input class="form-control" type="file" name="file" id="customFile" required>
                    </div>
                    <div class="mb-3">
                        <label for="customFolder" class="form-label">Wprowadź ścieżkę docelową rozdzielenia
                            pliku ('\' podaj na końcu)</label>
                        <input class="form-control" type="text" name="customFolder" id="customFolder" required
                               placeholder="C:\">
                    </div>
                    <div class="mb-3">
                        <label for="customFolder" class="form-label">Wprowadź suffix do pliku:</label>
                        <input class="form-control" type="text" name="customSuffix" id="customSuffix">
                    </div>
                    <div class="mb-3">
                        <div class="form-label">Po ilu stronach chcesz dzielić plik ?</div>
                        <input class="form-label" type="radio" name="customSplitPages" value="1" checked> po
                        1<br/>
                        <input class="form-label" type="radio" name="customSplitPages" value="2"> po 2<br/>
                        <input class="form-label" type="radio" name="customSplitPages" value="0"> po określonych
                        <input class="form-label mw-50" type="number" name="customSplitPagesDefined">
                        <br/>
                    </div>
                    <button type="submit" class="btn btn-outline-warning" value="split_pdf">Rozdziel</button>
                </form>
                </div>
