<link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
<script type="text/javascript" src="{{ url_for('static', filename = 'jquery-3.3.1.slim.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'popper.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'bootstrap.min.js') }}"></script>
<link href="{{ url_for('static', filename='style_bazatelefonow.css') }}" rel="stylesheet" type='text/css'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">