{% extends 'base-telefony.html' %}

{% block content %}

    <h5> Witaj, {{ user.first_name }} {{ user.last_name }}! 👋 </h5>
    {##}
    {#    <a class="btn btn-outline-primary btn-sm" href="{% url 'create_telefony' %}">Dodaj Kontrahenta &nbsp; <i#}
    {#            class="fa fa-plus-circle"#}
    {#            aria-hidden="true"></i></a>#}
    <hr>
    <table class="table  table-bordered" id="sample_data">
        <thead class="table-light">
        <tr>
{#            <th scope="col"> ID</th>#}
            <th scope="col"> Indeks</th>
            <th scope="col"> Nazwa</th>
            <th scope="col"> Adres</th>
            <th scope="col"> Telefon</th>
{#            <th scope="col"> Szczegóły</th>#}
        </tr>
        </thead>
        <tbody>
        {% if searched %}
            {% for record in my_records %}
                <tr>
                <tr>
{#                    <td> {{ record.id }} </td>#}
                    <td> {{ record.indeks }} </td>
                    <td> {{ record.nazwa }}</td>
                    <td> {{ record.adres }} </td>
                    <td> <a href="{{ record.telefon }}">{{ record.telefon }}</a> </td>
{#                    <td><a class="btn btn-outline-primary btn-sm" href="{% url 'view_telefony' record.id %}">#}
{#                        <i class="fa fa-eye" aria-hidden="true"></i> </a></td>#}
                </tr>
            {% endfor %}
        {% endif %}

        </tbody>
    </table>
    <hr>

    <a href="{% url 'dashboard_telefony' %}" class="btn btn-outline-primary">Powrót &nbsp; <i class="fa fa-arrow-left"
                                                                                              aria-hidden="true"></i>
    </a>
    {{ redirect_to_login_immediately }}
{% endblock %}
