{% extends 'base-telefony.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row">
        <div class="col-sm-8 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-body">
                    <i class="fa fa-user-circle-o" aria-hidden="true"></i> &nbsp;
                    <strong>Edytuj Kontrahenta</strong>
                    <hr>
                    <form method="POST" autocomplete="off">
                        {% csrf_token %}
                        {{ form.nazwa|as_crispy_field }}
                        {{ form.klatka|as_crispy_field }}
                        {{ form.telefon|as_crispy_field }}
                        {{ form.telefon2|as_crispy_field }}
                        {{ form.telefon3|as_crispy_field }}
                        {{ form.zgoda|as_crispy_field }}
                        <br>
                        <div style="display: flex; justify-content: flex-end">
                            <a href="{% url 'dashboard_telefony' %}" class="btn btn-outline-primary">Powrót&nbsp;&nbsp;<i
                                    class="fa fa-arrow-left" aria-hidden="true"></i></a>&nbsp;&nbsp;
                            <button type="submit" class="btn btn-outline-primary">Zapisz&nbsp;&nbsp;<i
                                    class="fa fa-save" aria-hidden="true"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {{ redirect_to_login_immediately }}
{% endblock %}
