{% extends 'base-contract.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-body">
                    <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                    <strong>Dodaj Wykonawcę:</strong>
                    <hr>
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-danger" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-outline-primary" type="submit">Dodaj <i
                                class="fa fa-plus"></i></button>
                        <a href="{% url 'dashboard_contracts' %}" class="btn btn-outline-primary"> Powrót &nbsp; <i
                                class="fa fa-arrow-left"></i> </a>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-body">
                    <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                    <strong>Lista Wykonawców:</strong>
                    <hr>
                    {% for contract in contracts %}
                        <li>  {{ contract.contractor.name }} </li>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
    {{ redirect_to_login_immediately }}
{% endblock %}
