{% extends 'base-contract.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <div class="container bg-light shadow-md p-5 form-layout-add">
        <h5>Dodaj Wykonawcę:</h5>
        <hr>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-outline-primary" type="submit">Dodaj <i
                    class="fa fa-plus"></i></button>
            <a href="{% url 'dashboard_contracts' %}" class="btn btn-outline-primary"> Powrót &nbsp; <i
                    class="fa fa-arrow-left"></i> </a>
        </form>
    </div>

    {{ redirect_to_login_immediately }}
{% endblock %}
