{% extends 'base-contract.html' %}
{% block content %}
    <h5> Witaj, {{ user.first_name }} {{ user.last_name }}! 👋 </h5>
    <hr>
    <a class="btn btn-outline-primary" href="{% url 'add_contract' %}">Dodaj umowę <i
            class="fa fa-plus"></i> </a>
{#    <a class="btn btn-outline-primary" href="{% url 'add_contractor' %}">Dodaj wykonawcę <i#}
{#            class="fa fa-plus"></i> </a>#}
    <br><br>

    <table class="table  table-bordered" id="sample_data">
        <thead class="table-warning">
        <tr>
            <th scope="col"> ID</th>
            <th scope="col"> Wykonawca</th>
            <th scope="col"> Opis</th>
            <th scope="col"> Od</th>
            <th scope="col"> Do</th>
            <th scope="col"> Szczegóły</th>
        </tr>
        </thead>
        <tbody>
        {% for contract in contracts %}
            <tr>
                <td> {{ contract.id }} </td>
                <td> {{ contract.contractor.name }} </td>
                <td> {{ contract.description }} </td>
                <td> {{ contract.start_date }} </td>
                <td>
                    {% if contract.end_date == None %}
                        Czas nieokreślony
                    {% else %}
                        {{ contract.end_date }} </td>
                    {% endif %}

                <td><a class="btn btn-outline-primary btn-sm" href="{% url 'details_contract' contract.id %}">
                    <i class="fa fa-eye" aria-hidden="true"></i> </a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <hr>
<nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if contracts.has_previous %}
                <a class="btn btn-outline-primary btn-sm"
                                         href="?page={{ contracts.previous_page_number }}">Poprzednia</a>
                {#                <li class="page-item"><a class="page-link" href="?page=1">1</a></li>#}
            {% endif %}
            {% if contracts.has_next %}
                {#                <li class="page-item"><a class="page-link" href="?page=2">2</a></li>#}
                {#                <li class="page-item"><a class="page-link" href="?page=3">3</a></li>#}
                <a class="btn btn-outline-primary btn-sm" href="?page={{ contracts.next_page_number }}">Następna</a>
            {% endif %}
        </ul>
    </nav>
    {{ redirect_to_login_immediately }}
{% endblock %}