{% extends 'base-rss.html' %}
{% block content %}
    <div class="card">
        <div class="card-body">
            <i class="fa fa-user-circle-o" aria-hidden="true"></i> &nbsp;
            <strong>
                Powód:&nbsp;&nbsp;&nbsp;{{ record.powod|upper }}
                {#                {{record.dotyczy}}#}
            </strong>
            <hr>
            <p><strong> Powód: </strong> {{ record.powod }} </p>
            <p><strong> Dotyczy: </strong> {{ record.dotyczy }} </p>

            <br>
            <p><strong> Dokumenty: </strong></p>
            <hr>
            {{ record.opis }}&nbsp;&nbsp;&nbsp;
            <a href="{{ record.plik }}">Pobierz</a>
        </div>
    </div>
    <br>
    <a href="{% url 'view_rss' record.id %}" class="btn btn-outline-primary"> Powrót &nbsp; <i
            class="fa fa-arrow-left"></i> </a>
    {{ my_record }}
    <a href="{% url 'upload_file' record.id %}" class="btn btn-outline-primary"> Wgraj plik &nbsp;<i class="fa fa-file"
                                                                                                     aria-hidden="true"></i>
    </a>
{% endblock %}