<nav class="navbar navbar-expand-lg navbar-dark bg-primary justify-content-center">
    <ul class="navbar-nav ms-center">
        {% if user.is_authenticated %}
            <form class="d-flex" role="search" method="POST" action="{% url "search_contracts" %}">
                {% csrf_token %}
                <input class="form-control me-2" type="search" placeholder="..." aria-label="Search"
                       name="searched">
                <button class="btn btn-outline-success" type="submit">Szukaj</button>
            </form>&nbsp;
            <a class="btn btn-outline-success" href="{% url 'dashboard' %}">Home &nbsp; <i
                    class="fa fa-home"
                    aria-hidden="true"></i>
            </a>
            </ul>
        {% else %}

        {% endif %}
</nav>

