{% extends 'rss/base.html' %}

{% block content %}

    <h5> Witaj, {{ user }}! 👋 </h5>
    <hr>

    <a class="btn btn-outline-primary btn-sm" href="{% url 'create_rss' %}">Dodaj pozew &nbsp; <i
            class="fa fa-plus-circle"
            aria-hidden="true"></i></a>
    <hr>
    <br><br>
    <table class="table  table-bordered" id="sample_data">
        <thead class="table-light">
        <tr>
            <th scope="col"> ID</th>
            <th scope="col"> Powód</th>
            <th scope="col"> Dotyczy</th>
            <th scope="col"> Status</th>
            <th scope="col"> Szczegóły</th>
            {#                <th scope="col"> SMS </th>#}
        </tr>
        </thead>
        <tbody>
        {% if searched %}
            {% for record in my_records %}
                <tr>
                    <td> {{ record.id }} </td>
                    <td> {{ record.powod }}</td>
                    <td> {{ record.dotyczy }} </td>
                    <td> {{ record.status }} </td>
                    <td><a class="btn btn-outline-primary btn-sm" href="{% url 'view_rss' record.id %}"> <i
                            class="fa fa-eye" aria-hidden="true"></i> </a></td>
                    {#                <td> <a class="btn btn-outline-primary btn-sm" href="{% url ''  %}"> <i class="fa fa-comment" aria-hidden="true"></i> </a> </td>#}
                </tr>
            {% endfor %}
        {% endif %}

        </tbody>
    </table>
    <br><br>
    <hr>

    <a class="btn btn-outline-success" href="{% url 'dashboard_main' %}">Powrót &nbsp; <i class="fa fa-sign-in"
                                                                                          aria-hidden="true"></i> </a>

{% endblock %}