{% extends "dashboard.html" %}
{% load crispy_forms_tags %}
{% block content %}
    {% for message in messages %}
        <div class="message text-center alert alert-info {{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
    <body>
    <div class="container bg-light shadow-md p-5 form-layout">
        <h3> Panel logowania </h3> ver 1.1
        <hr>
        <br>
        <form method="POST" autocomplete="off">
            {% csrf_token %}
            {{ form.username|as_crispy_field }}
            <br>
            {{ form.password|as_crispy_field }}
            <br>
            <button type="submit" class="btn btn-primary w-100 btn-block p-2"> Zaloguj się &nbsp; <i class="fa fa-key"
                                                                                                     aria-hidden="true"></i>
            </button>
        </form>
        <br>
        <div class="text-center">
            {% if form.errors %}
                <button type="button" class="btn btn-outline-danger">Nieprawidłowy login lub hasło</button>
            {% endif %}
        </div>

    </div>
    <br>
    </body>
{% endblock %}
